// Colors variables
$primaryColor: #0D1555;
$borderColor: #B3B0B0;
$expandBg: #F9FAFA;
$liBorder: #dce7eb;
$expandGridColor: #152D66;
$whiteColor: #ffffff;



//Gradients

//Shadows
$expandShadow: 0px 0px 33px 0px #0000000F;

//Hover colors



