@font-face {
  font-family: OpenSansHebrew-Regular;
  src: url("../fonts/OpenSansHebrew-Regular.ttf");
}
@font-face {
  font-family: OpenSansHebrew-Ligh;
  src: url("../fonts/OpenSansHebrew-Light.ttf");
}
@font-face {
  font-family: OpenSansHebrew-Bold;
  src: url("../fonts/OpenSansHebrew-Bold.ttf");
}
@font-face {
  font-family: OpenSansHebrew-ExtraBold;
  src: url("../fonts/OpenSansHebrew-ExtraBold.ttf");
}

